<div id="<%= dom_id watch_box %>">
  <p>
    <strong>Title:</strong>
    <%= watch_box.title %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= watch_box.branch %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= watch_box.model %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= watch_box.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= watch_box.price %>
  </p>

  <p>
    <strong>Avata:</strong>
    <%= watch_box.avata %>
  </p>

</div>
