<div id="<%= dom_id watch %>">
  <p>
    <strong>Title:</strong>
    <%= watch.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= watch.description %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= watch.content %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= watch.price %>
  </p>

</div>
